h1{
    color: aquamarine;
}
p{
    background-color: rgb(87, 58, 23);
    padding: 15px;
    color: rgb(244, 245, 247);
    font-size: 20ox;
}
.class_1{
    color: mediumorchid;
}
#id_1{
    background-color: blue;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div ul li, div ol li{
    color: blue;
    background-color: rgb(236, 156, 35);
    padding: 5px;
}
header div ul li{
    background-color: aqua;
    list-style: none;
    padding: 20px;
}